.logo {
  text-align: center;
}
.logo > img {
  width: 20vw;
}
#nav-element {
  text-align: center;
  background-color: #fdfbf1;
  border-top: 5px #f9b300;
  border: 5px;
  padding: 5px;
}

#nav-element > a {
  text-decoration: none;
  color: green;
  text-align: center;
  font-size: 10px;
}

#main-container {
  width: 50%;
  margin-inline: 25%;
  line-height: 30px;
}

h1 {
  text-align: center;
}
h2 {
  border-bottom: 1px solid black;
  padding: 2px;
}
div.img {
  display: flex;
  justify-content: center;
}
#product {
  width: 100vh;
}
figcaption {
  text-align: center;
  margin: 10px;
  color: grey;
}
#feature {
  margin: 50px;
}

#in {
  display: block;
  color: orange;
}
.feature p #in a {
  color: black;
}
